[Unit]
Description=Bonfire daemon
After=network.target docker.service postgresql.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
Group=root
WorkingDirectory=__INSTALL_DIR__/
TimeoutStartSec=600
ExecStartPre=/usr/bin/docker compose -f __INSTALL_DIR__/docker-compose.yml pull --quiet
ExecStart=/usr/bin/docker compose -f __INSTALL_DIR__/docker-compose.yml up -d
ExecStartPost=/bin/bash __INSTALL_DIR__/start-log-collector.sh
ExecStop=/usr/bin/docker compose -f __INSTALL_DIR__/docker-compose.yml down
ExecStopPost=/usr/bin/pkill -f "docker compose.*logs -f" || true
ExecReload=/usr/bin/docker compose -f __INSTALL_DIR__/docker-compose.yml restart
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target